<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.1/css/all.css" integrity="sha384-vp86vTRFVJgpjF9jiIGPEEqYqlDwgyBgEF109VFjmqGmIY/Y4HV4d3Gp2irVfcrp" crossorigin="anonymous">
<section class="main">
<section class="info">
    <div class="title">
        <h1 class="tttt">
            I'am a creativ and loves font-and Programming
        </h1>
        <article>
        <a class="goto" href="">See my resume</a>
    </article>
    </div>
</section>

<section class="flaxbox">
    <div class="background"
    appBackgrounddiv
    >
    <div 
    appDivBackground 
     class="img one ">
       <h1> <a class="goto" href="">It Step</a></h1>
    </div>
     
    </div>
    
    <div
    appDivBackground
 
    class="img two" >

        <h1><a  href="">Github</a></h1>
       
    </div>
    
</section>
<section class="work ">
    <div class="job"
    appBackgrounddiv
    >
     
        <h1><a  href="">Freelacer</a></h1>
    </div>
    
</section>
<section class="flaxbox">
    <div 
    appDivBackground 
     class="img three ">
        
       <h1> <a  href="">Limkdin</a></h1>
       
     
    </div>
    <div
     appDivBackground
     
    class="img four" >
    
        <h1><a href="">Upwork</a></h1>
       
    </div>
    
</section>
<footer>
    <article class="icone">
        <a href=""><i class="fab fa-twitter"></i></a>
        <a href=""><i class="fab fa-instagram"></i></a>
        <a href=""><i class="fab fa-linkedin-in"></i></a>
    </article>
    <article class="bottom">
        <button type="button" class="btn btn-outline-warning">Talk to me</button>
    </article>
</footer>
